@import "./mixin.scss";

$font-size: 37.5px !default;

@function rem($px) {
    @return $px / $font-size * 1rem;
}

* {
    box-sizing: border-box;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 45px;
    background: #ccf;
}

.content {
    width: 100%;
    flex: 1;
    background: #ffc;
    display: flex;

    .left {
        flex: 2;
    }

    .right {
        flex: 8;
        height: 100%;
        background: #fff;
        overflow: hidden;
        .content {
            width: 100%;
            height: 150%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background: #fff;
            dl {
                width: 33%;
                padding: rem(5px);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
    }
}