@import "mixin.scss";
* {
    box-sizing: border-box;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: pxTorem(80px);
    .nav {
        width: 100%;
        height: pxTorem(45px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 pxTorem(10px);
        box-sizing: border-box;
        font-size: pxTorem(15px);
        line-height: pxTorem(14px);
        .nav_left {
            span:nth-child(2) {
                margin-left: pxTorem(7px);
            }
        }
        .nav_right {
            border: pxTorem(1px) solid #ccc;
            border-radius: 30px;
            padding: pxTorem(5px) pxTorem(10px);
            display: flex;
            span {
                padding: 0 pxTorem(5px);
            }
            .iconfont {
                font-size: pxTorem(16px);
            }
        }
        .iconfont {
            font-size: pxTorem(12px);
        }
    }
    .username_name {
        width: 100%;
        height: pxTorem(35px);
        display: flex;
        align-items: center;
        padding: 0 pxTorem(10px);
        box-sizing: border-box;
        .input_user {
            flex: 1;
            display: flex;
            height: 80%;
            justify-content: space-between;
            align-items: center;
            padding: 0 pxTorem(10px);
            background: rgb(239, 239, 239);
            input {
                width: 100%;
                margin-left: pxTorem(10px);
            }
        }
        .input_icon {
            width: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .iconfont {
            color: rgb(194, 173, 173);
            font-size: pxTorem(19px);
        }
    }
}

.content {
    width: 100%;
    flex: 1;
    background: #ffc;
    display: flex;
    .left {
        flex: 2;
    }
    .right {
        flex: 8;
        height: 100%;
        background: #fff;
        overflow: hidden;
        .content {
            width: 100%;
            height: 150%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background: #fff;
            dl {
                width: 33%;
                padding: pxTorem(5px);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                dt {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}